<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >HR People</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navItems" aria-controls="navItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navItems">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" [routerLink]="['/']">Employees</a>
        <a class="nav-link" [routerLink]="['edit', 0]">New employee</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
