/* You can add global styles to this file, and also import other style files */

hr{
  background-color: hsl(0,0,80%);
}

.card-content{
  width: 90vw;
  margin: 1rem auto;
}

@media screen and (min-width:768px){
  .card-content{
    width: 60vw;
    margin: 1.5rem auto;
  }

}