@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

hr {
  background-color: hsl(0, 0, 80%);
}

.card-content {
  width: 90vw;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  .card-content {
    width: 60vw;
    margin: 2.5rem auto;
  }
}
